*{font-family: 'Times New Roman', Times, serif;
    margin: 0;
    box-sizing: border-box;
    
}

body{
    background-color: rgb(27, 27, 27);
}

h1{
    text-align: center;
}

.textwite{
    color: #f7f7f7;

}

table{margin: auto;
width: 95%;
height: 100vh;
}

div{
    text-align: left;
}

.border{
    border: solid;
   text-align: center; 
}
td{
    width: 5%;
    height: 8vh;
}

.nmetal{
    
    background-color: rgb(197, 255, 111);
}

.nobres{
 background-color: rgb(107, 166, 255);
}

.ma{
    background-color: rgb(255, 203, 105);
}

.mat{
    background-color: rgb(255, 240, 104);
}

.mtd{
    background-color: rgb(255, 158, 158);
}
.halogenio{
    background-color: rgb(180, 253, 253);
}

.semi{
    background-color: rgb(50, 212, 158);
}
.outros{
    background-color:  rgb(87, 137, 158) ;
}
.lantanideos{
    background-color: rgb(90, 172, 161);
}
.Actindeos{
    background-color: rgb(175, 145, 187);
}
.a{
    border: 50%;
}